@font-face {
  font-family: 'iconfont';  /* project id 722753 */
  src: url('//at.alicdn.com/t/font_722753_90bssa6l0s6.eot');
  src: url('//at.alicdn.com/t/font_722753_90bssa6l0s6.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_722753_90bssa6l0s6.woff') format('woff'),
  url('//at.alicdn.com/t/font_722753_90bssa6l0s6.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_722753_90bssa6l0s6.svg#iconfont') format('svg');
}
.icon {
	width: 1.2em; height: 1.2em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
.icon-list {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

@font-face {
    font-family: 'core_sans';
    src: url('../font/core_sans.woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    outline:none;
    color: rgb(85, 85, 85);
}

body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 14px;
    line-height: 1.428;
    font-family: core_sans,"Avenir Next","Helvetica Neue",Helvetica,Arial,"PingFang SC","Source Han Sans SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    color: #7a8599;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 62px;
    border-bottom: 1px solid rgb(230, 233, 240);
}

main {
    display: flex;
    flex: 1;

    .listPanel {
        width: 240px;
        border-right: 1px solid #e6e9f0;
        display: flex;
        flex-direction: column;

        .dupErrTips {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(255,240,240,0);
            height: 60px;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            color: transparent;
            pointer-events: none;
            transition-duration: 2s;
            font-size: 18px;
        }

        .dupErrTips.show {
            background-color: rgba(255,240,240,0.9);
            color: red;
        }

        .clCreator-mask {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.6);
            z-index: 3;
            justify-content: center;
            align-items: center;
            transition-duration: 0.3s;
            font-size: 16px;

            .clCreator {
                width: 400px;
                height: 280px;
                background-color: white;
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input {
                    outline: none;
                    border-radius: 4px;
                    border: 1px solid rgb(204, 204, 204);
                    padding: 0 15px;
                    height: 30px;
                    margin: 20px 0;
                    width: 200px;
                }

                .textHolder {
                    height: 30px;
                    color: red;
                    font-size: 14px;
                }

                .clCreator-ctrl {
                    width: 200px;
                    display: flex;

                    .cl-confirm,
                    .cl-cancel {
                        font-size: 12px;
                        margin: 0 8px;
                        padding: 0 7px;
                        line-height: 34px;
                        height: 34px;
                        border: 1px solid rgba(94, 97, 102, 0.4);
                        border-radius: 4px;
                        transition-duration: 0.35s;
                        cursor: pointer;
                    }

                    .cl-confirm {
                        width: 50%;
                        text-align: center;
                        color: rgb(20, 218, 37);
                        background-color: rgba(15, 245, 35, 0.06);
                        border-color: rgb(20, 218, 37);
                    }

                    .cl-cancel {
                        width: 50%;
                        text-align: center;
                        color: rgb(255,97,97);
                        background-color: rgba(255,240,240,0.4);
                        border-color: rgb(255,97,97);
                    }
                }
            }
        }

        .clCreator-mask.show {
            display: flex;
        }

        .listController {
            text-align: center;
            padding-top : 27px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 12px;
            margin-right: -1px;
            min-height: 125px;

            .createList {
                width: 160px;
                height: 32px;
                line-height: 32px;
                border: 1px solid rgba(25,137,250,.4);
                background-color: rgba(25,137,250,.04);
                border-radius: 999px;
                color: #1989fa;
                margin-bottom: 14px;
                cursor: pointer;
            }

            .searchList {
                width: 160px;
                height: 32px;
                line-height: 32px;
                margin-bottom: 24px;
                position: relative;

                .searchListButton {
                    position: absolute;    
                    left: 10%;
                }
                
                input {
                    font-size: 12px;
                    width: 160px;
                    padding: 5px 35px 5px 35px;
                    height: 32px;
                    border-radius: 999px;
                    border: 1px solid rgb(204, 204, 204);
                }
            }
        }

        .musicList-wrapper {
            display: flex;
            flex-direction: column;
            color: #5e6166;
            margin-right: -1px;
            overflow: auto;

            > div {
                margin: 20px 40px;
            }

            .musicList {
                margin-left: 45px;

                li {
                    color: #8d9199;
                    height: 45px;
                    display:flex;
                    align-items:center;
                    cursor: pointer;
                }

                li.active {
                    color: #1989fa;
                    border-right: 1px solid #fff;
                    border-top: 1px solid #e6e9f0;
                    border-bottom: 1px solid #e6e9f0;
                }
            }
        }
    }

    .mainPanel {
        padding: 40px;
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 980px;

        .detailController {
            min-height: 36px;
            display: flex;
            justify-content: space-between;

            .detailController-left {
                display: flex;
                
                .saveButton,
                .uploadButton,
                .deleteButton,
                .selectAll {
                    font-size: 12px;
                    padding: 0 15px;
                    margin-left: 15px;
                    line-height: 34px;
                    height: 34px;
                    border: 1px solid rgba(94, 97, 102, 0.4);
                    border-radius: 4px;
                    transition-duration: 0.35s;
                    cursor: pointer;
                    user-select: none;
                }

                .saveButton {
                    color: rgb(20, 218, 37);
                    background-color: rgba(15, 245, 35, 0.06);
                    border-color: rgb(20, 218, 37);
                    margin: 0;
                }
                .saveButton:hover {
                    background-color: rgba(15, 245, 35, 0.2);
                    
                }

                .uploadButton {
                    color: #1989fa;
                    background-color: rgba(25,137,250,.04);
                    border-color: rgba(25,137,250,.4);
                }
                .uploadButton:hover {
                    background-color: rgba(25,137,250,.2);
                }

                .deleteButton {
                    color: rgb(255,97,97);
                    background-color: rgba(255,240,240,0.4);
                    border-color: rgb(255,97,97);
                }
                .deleteButton:hover {
                    background-color: rgb(255,240,240);
                }

                .selectAll:hover {
                    border: 1px solid rgba(94, 97, 102, 0.8);
                }
            }

            .detailController-right {

                .searchMusic {
                    width: 200px;
                    position: relative;

                    .searchMusicButton {
                        position: absolute;    
                        top: 0.8rem;
                        left: 0.8rem;
                    }

                    input {
                        width: 100%;
                        height: 42px;
                        line-height: 42px;
                        border-radius: 4px;
                        border: 1px solid #dde1eb;
                        padding-left: 40px;
                        padding-right: 20px;
                    }
                }
            }
        }

        .listDetail {
            overflow: auto;
            margin-top: 20px;

            .clCreator-mask {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.6);
                z-index: 3;
                justify-content: center;
                align-items: center;
                transition-duration: 0.3s;
                font-size: 16px;

                .clCreator {
                    width: 400px;
                    height: 280px;
                    background-color: white;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    input {
                        outline: none;
                        border-radius: 4px;
                        border: 1px solid rgb(204, 204, 204);
                        padding: 0 15px;
                        height: 30px;
                        margin: 20px 0;
                        width: 200px;
                    }

                    .textHolder {
                        height: 30px;
                        color: red;
                        font-size: 14px;
                    }

                    .clCreator-ctrl {
                        width: 200px;
                        display: flex;

                        .cl-confirm,
                        .cl-cancel {
                            font-size: 12px;
                            margin: 0 8px;
                            padding: 0 7px;
                            line-height: 34px;
                            height: 34px;
                            border: 1px solid rgba(94, 97, 102, 0.4);
                            border-radius: 4px;
                            transition-duration: 0.35s;
                            cursor: pointer;
                        }

                        .cl-confirm {
                            width: 50%;
                            text-align: center;
                            color: rgb(20, 218, 37);
                            background-color: rgba(15, 245, 35, 0.06);
                            border-color: rgb(20, 218, 37);
                        }

                        .cl-cancel {
                            width: 50%;
                            text-align: center;
                            color: rgb(255,97,97);
                            background-color: rgba(255,240,240,0.4);
                            border-color: rgb(255,97,97);
                        }
                    }
                }
            }
            .clCreator-mask.show {
                display: flex;
            }
            table {
                width: 100%;
                max-width: 100%;
                border-spacing: 0;
                TABLE-LAYOUT: fixed;
                word-break: break-all;
                border-collapse: collapse;

                thead {
                    tr {
                        text-align: left;

                        th {
                            padding: 10px 0;
                            font-weight: 500;
                            color: #8f9bb3;
                            border-bottom: 1px solid #e1e6f0;
                        }

                        .td-checkbox {
                            width: 32px;
                            text-align: center;
                        }

                        .songName-title {
                            width: 25%;
                        }

                        .artist-title {
                            width: 15%;
                        }

                        .album-title {
                            width: 15%
                        }

                        .link-title {
                            width: 20%
                        }

                        .size-tile {
                            width: 15%
                        }

                        .status-title {
                            width: 10%;
                        }
                    }
                }

                tbody {
                    display: none;
                    tr {
                        td {
                            padding: 10px 0;
                            color: rgb(94, 97, 102);
                            border-bottom: 1px solid #e1e6f0;
                            position: relative;
                            white-space: nowrap;
                            > span {
                                overflow:hidden;
                                vertical-align: middle;
                                width: 60%;
                                display: inline-block;
                            }
                        }

                        .td-checkbox {
                            text-align: center;
                            input {
                                vertical-align: middle;
                            }
                        }

                        .name-td > i,
                        .artist-td > i,
                        .album-td > i{
                            display:none;
                            font-family:"iconfont" !important;
                            font-size:16px;font-style:normal;
                            -webkit-font-smoothing: antialiased;
                            -webkit-text-stroke-width: 0.2px;
                            -moz-osx-font-smoothing: grayscale;
                            cursor: pointer;
                            color: #1989fa;
                        }


                        .name-td.show > i,
                        .artist-td.show > i,
                        .album-td.show > i{
                            display: inline;
                            position: absolute;
                        }
                    }

                    tr.notlogin {
                        background-color: rgba(255,240,240,0.6);
                    }
                    tr.unsaved {
                        background-color: rgba(255,251,229,0.6);
                    }
                    tr.uploading {
                        background-color: rgba(25, 137, 250, 0.04);
                    }
                    tr.hidden {
                        display: none;
                    }
                }

                tbody.show {
                    display: table-row-group;
                }

            }
        }

    }
}
