@font-face {
    font-family: 'core_sans';
    src: url('../font/core_sans.woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 1.428;
    font-family: core_sans,"Avenir Next","Helvetica Neue",Helvetica,Arial,"PingFang SC","Source Han Sans SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
    color: #5e6166;
}

header {
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 62px;
    border-bottom: 1px solid rgb(230, 233, 240);
}

main {
    display: flex;

    .listPanel {
        width: 240px;
    }
}
