@-webkit-keyframes circling {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes circling {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

* {border: 0; margin: 0; box-sizing: border-box;}
ul,ol {padding: 0; margin: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
input {outline:none; color: rgb(85, 85, 85);background-color: #f2f4f5;}
@font-face {
    font-family: 'core_sans';
    src: url('../font/core_sans.woff2');
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 1.428;
    font-family: core_sans,"Avenir Next","Helvetica Neue",Helvetica,Arial,"PingFang SC","Source Han Sans SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    height: 105px;
    .title {
        height: 65px;
        background-color: rgb(156,39,176);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
        color: white;
        padding: 0 20px;

        .logo {
            font-size: 40px;
            margin-right: 20px;
        }

        .selfLogo {
            font-size: 18px;
        }
    }
    .tabPanel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        background-color: rgb(254,255,255);

        div {
            height: 100%;
            line-height: 40px;
            width: 75px;
            text-align: center;
            position: relative;
        }

        .active {
            color: rgb(156,39,176);
        }

        .active::after {
            content: '';
            width: 100%;
            border-bottom: 3px solid rgb(156,39,176);
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

main {
    height: 77%;
    background-color: rgb(242,244,245);
    overflow: auto;
    flex: 1;

    .discovery-main {
        display:none;
        flex-direction: column;

        .recommandList,
        .recommandSongs{
            display: flex;
            flex-direction: column;

            .introduction {
                margin: 15px 0;
                font-size: 16px;
                position: relative;
                padding-left: 15px;
                vertical-align: middle;
            }
            .introduction::before {
                content: '';
                height: 70%;
                border-left: 3px solid rgb(156,39,176);
                display: inline-block;
                position: absolute;
                top: 15%;
                left: 0;
            }

            .exhibition {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .item {
                    width: 32.8%;
                    padding-bottom: 20px;
                    .itemCover {
                        width: 100%;
                        padding-bottom: 100%;
                        position: relative;
                        overflow: hidden;

                        img {
                            height: 100%;
                            min-width: 100%;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }

                    .itemName {
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        font-size: 12px;
                        line-height: 1.2;
                        display: -webkit-box;
                        overflow: hidden;
                        padding: 6px 2px 0 6px;
                    }
                }
            }
        }
        .recommandSongs .exhibition .item {
            width: 49.0%;
        }
    }

    .discovery-main.show {
        display: flex;
    }

    .user-main {
        min-height: 100%;
        display: none;

        .loginPanel {
            width: 100%;
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .login-username {
                width: 90%;
                padding-top: 40px;
                padding-bottom: 20px;
            }
            .login-password {
                width: 90%;
            }

            input {
                width: 100%;
                height: 24px;
                font-size: 14px;
                border-bottom: 1px solid #e6e9f0;
                color: black;
            }

            .controlPanel {
                width: 90%;
                margin-top: 30px;

                div {
                    width: 100%;
                    border-radius: 999px;
                    background-color: rgb(156,39,176);
                    height: 40px;
                    margin: 20px 0;
                    text-align: center;
                    line-height: 40px;
                    color: white;
                    font-size: 16px;
                }
            }

            p {
                width: 70%;
                color: red;
            }
        }
        .userPanel {
            display: none;
            margin:0 10px;
            width: 100%;

            .myCollection {
                width: 100%;
            }

            .myCollection > li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border-bottom: 1px solid #e6e9f0;

                .collectionInformation {
                    height: 55px;
                    display: flex;
                    align-items: center;

                    .cover {
                        width: 55px; 
                        height: 100%;
                        margin-right: 5px;
                        display: flex;
                        align-items: center;

                        img {
                            background-size: cover;
                            background-repeat: no-repeat;
                            height: 45px;
                            weight: 45px;
                        }
                    }
                }

                .deleteCollection {
                    font-size: 16px;
                }
            }
        }
    }

    .user-main.show {
        display: flex;

        .loginPanel.show {
            display: flex;
        }
        .userPanel.show {
            display: flex;
        }
    }

    .search-main {
        display: none;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        min-height: 100%;

        .searchWrapper {
            width: 90%;
            height: 30px;
            position: relative;

            input {
                font-size: 16px;
                height: 30px;
                width: 100%;
                padding-right: 20%;
                border-bottom: 1px solid rgb(156,39,176);
            }

            .searchButton {
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 24px;
                color: rgb(156,39,176);
            }
        }


        ol {
            width: 90%;
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #e6e9f0;
                justify-content: center;
                height: 45px;

                .songName {
                    font-size: 16px;
                }

                .imformation {
                    color: #555555;
                    font-size: 10px;
                }

            }
        }
    }

    .search-main.show {
        display: flex;
    }
}

footer {
    height: 55px;
    .musicplayer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        height: 55px;

        .songInformation {
            height: 45px;
            width: 80%;
            display: flex;
            align-items: center;

            .cover {
                height: 40px;
                width: 40px;
                background-color: #ddd;
                margin-right: 10px;
            }

            .songInformation-text {
                .artist {
                    color: rgb(128, 128, 128);
                    font-size: 12px;
                }

                div {
                    vertical-align: middle;
                }
            }
        }

        .songController {
            display: flex;
            align-items: center;
            min-width: 80px;
            height: 45px;
            justify-content: space-between;
            color: rgb(76, 76, 76);
            margin-right: 5px;

            .toggleButton {
                width: 30px;
                font-size: 30px;

                div {
                    display: none;
                }

                div.show {
                    display: flex;
                }
            }

            .toplaylistButton {
                height: 30px;
                width: 30px;
                font-size: 30px;
                display: flex;
            }
        }
    }

    .toplaylistWrapper {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        flex-direction: column;

        .shadowArea {
            flex: 1;
            background-color: rgba(0,0,0,0.6);
        }

        .toplaylist {
            padding: 0 10px;
            max-height: 66%;
            min-height: 100px;
            background-color: white;
            border-top: 4px solid rgb(128,128,128);
            overflow: auto;

            li {
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #e6e9f0;
                font-size: 16px;

                .playingHint {
                    display: none;
                }

                .split, .toplay-artist{
                    font-size: 12px;
                    color: rgb(128, 128, 128);
                }

                .toplay-deleteButton {
                    font-size: 14px;
                }
            }

            li.playing {
                .playingHint {
                    display: inline;
                }

                .playingHint, .toplay-songName, .split, .toplay-artist {
                    color: rgb(156,39,176);
                }
            }
        }
    }

    .toplaylistWrapper.show {
        display: flex;
    }
}

.collectionViewer {
    width: 100%;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom: 55px;
    background-color: rgb(242,244,245);
    display: none;
    flex-direction: column;

    .collectionHead {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #fff;
        padding: 0 15px;
        background-color: rgba(0,0,0,0.4);

        svg {
            font-size: 25px;
            margin-right: 15px;
        }

        .pageName {
            font-size: 16px;
        }
    }

    .collectionTheme {
        height: 180px;
        width: 100%;
        padding: 0 15px;
        display: flex;
        align-items: center;
        position: relative;

        .cover {
            height: 150px;
            width: 150px;
            margin-right: 15px;
            z-index: 1;

            img {
                background-size: cover;
                background-repeat: no-repeat;
                height: 100%;
                weight: 100%;
            }
        }

        .collectionTitle {
            color: #fff;
            font-size: 16px;
            height: 150px;
            padding-top: 20px;
            z-index: 1;
        }

        .background {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            background-image: url("../img/1.png");
            background-position: 50%;
            background-repeat: no-repeat;
            filter: blur(20px);
            -webkit-filter: blur(20px);
            transform: scale(1.5);
            background-size: cover;
            z-index: -1;
        }
    }
    .collectionList {
        background-color: rgb(242,244,245);
        padding: 0 15px;
        z-index:1;
        flex:1;

        .playAllWrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 45px;
            border-bottom: 1px solid #e6e9f0;
            .playAllButton {
                font-size: 18px;
                padding-right: 15px;
            }
            .playAllText {
                font-size: 16px;
            }
        }

        .songList {
            width: 100%;

            li {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #e6e9f0;
                justify-content: center;
                height: 55px;

                .songName {
                    font-size: 16px;
                }

                .imformation {
                    color: #555555;
                    font-size: 10px;
                }
            }
        }
    }
}

.collectionViewer.show {
    display: flex;
}

.playController {
    display: none;
    flex-direction: column;
    position: fixed;
    padding: 5px 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    .background {
        background-image: url("../img/1.png");
        background-position: 50%;
        background-repeat: no-repeat;
        filter: blur(40px);
        transform: scale(1.5);
        background-size: cover;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .head {
        height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(0,0,0,0.4);
        margin: -5px -10px;
        padding: 5px 10px;
        border-bottom: 1px solid rgba(230, 233, 240, 0.1);

        .returnButton {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            color: #fff;
        }

        .songInformation {
            display: flex;
            height: 50px;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
            flex: 1;

            .songName {
                width: 60%;
                overflow: hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
                font-size: 18px;
                color: #fff;
            }

            .artist {
                width: 60%;
                overflow: hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
                font-size: 14px;
                color: #bbbbbb;
            }
        }
    }

    .discWrapper {
        flex: 1;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .disc {
            width: 250px;
            height: 250px;
            @media(min-width: 414px) {
                width: 350px;
                height: 350px;
            }
            @media(min-width: 360px) {
                width: 300px;
                height: 300px;
            }
            background-image: url('../img/dist.png');
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1;
            overflow: hidden;
            position: relative;

            .coverWrapper {
                width: 250px;
                height: 250px;
                @media(min-width: 414px) {
                    width: 350px;
                    height: 350px;
                }
                @media(min-width: 360px) {
                    width: 300px;
                    height: 300px;
                }
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                transform: scale(0.65);

                .cover {
                    position: absolute;
                    background-size: contain;
                    height: 100%;
                    width: 100%;
                }
            }
            .disc-light {
                width: 250px;
                height: 250px;
                @media(min-width: 414px) {
                    width: 350px;
                    height: 350px;
                }
                @media(min-width: 360px) {
                    width: 300px;
                    height: 300px;
                }
                top:0;
                left:0;

                background-image: url('../img/dist-light.png');
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                z-index: -1;
            }

        }
        .disc.playing {
            animation: circling 20s infinite linear;
            -webkit-animation: circling 20s infinite linear;
        }
    }

    .controlPanel {
        height: 100px;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        justify-content: space-around;

        .progressBar {
            width: 100%;
            height: 3px;
            position: relative;

            .totalBar {
                height: 3px;
                background-color: #fff;
                position: absolute;
                width: 100%;
            }

            .currentBar {
                height: 3px;
                background-color: rgb(156,39,176);
                position: absolute;
                width: 40%;
            }
            .currentBar::before,
            .currentBar::after{
                content: '';
                height: 15px;
                width: 15px;
                border-radius: 100%;
                display: inline-block;
                background-color: #fff;
                position: absolute;
                right: -6px;
                top: -6px;
            }
            .currentBar::after {
                background-color: rgb(156,39,176);
                transform: scale(0.4);
            }
        }

        .controlButton {
            display: flex;
            justify-content: space-between;
            font-size: 25px;
            color: #fff;
            align-items: center;

            .addToCollection,
            .listMenu {
                font-size: 25px;
            }

            .nextSong,
            .prevSong {
                font-size: 35px;
            }

            .toggle {
                font-size: 45px;
            }

            .toggle > svg {
                display: none;
            }
            .toggle> svg.show {
                display: inline;
            }
        }
    }
}

.playController.show {
    display: flex;
}
