.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

* {border: 0; margin: 0; box-sizing: border-box;}
ul,ol {padding: 0; margin: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
input {outline:none; color: rgb(85, 85, 85);background-color: #f2f4f5;}
@font-face {
    font-family: 'core_sans';
    src: url('../font/core_sans.woff2');
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 1.428;
    font-family: core_sans,"Avenir Next","Helvetica Neue",Helvetica,Arial,"PingFang SC","Source Han Sans SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    height: 105px;
    .title {
        height: 65px;
        background-color: rgb(156,39,176);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
        color: white;
        padding: 0 20px;

        .logo {
            font-size: 40px;
            margin-right: 20px;
        }

        .selfLogo {
            font-size: 18px;
        }
    }
    .tabPanel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        background-color: rgb(254,255,255);

        div {
            height: 100%;
            line-height: 40px;
            width: 75px;
            text-align: center;
            position: relative;
        }

        .active::after {
            content: '';
            width: 100%;
            border-bottom: 3px solid rgb(156,39,176);
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

main {
    height: 77%;
    background-color: rgb(242,244,245);
    overflow: auto;
    flex: 1;

    .discovery-main {
        display:none;
        flex-direction: column;

        .recommandList {
            display: flex;
            flex-direction: column;

            .introduction {
                margin: 15px 0;
                font-size: 16px;
                position: relative;
                padding-left: 15px;
                vertical-align: middle;
            }
            .introduction::before {
                content: '';
                height: 70%;
                border-left: 3px solid rgb(156,39,176);
                display: inline-block;
                position: absolute;
                top: 15%;
                left: 0;
            }

            .exhibition {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .item {
                    width: 32.8%;
                    padding-bottom: 20px;
                    .itemCover {
                        width: 100%;
                        padding-bottom: 100%;
                        position: relative;
                        
                        img {
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }

                    .itemName {
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        font-size: 12px;
                        line-height: 1.2;
                        display: -webkit-box;
                        overflow: hidden;
                        padding: 6px 2px 0 6px;
                    }
                }
            }
        }
    }

    .discovery-main.show {
        display: flex;
    }

    .user-main {
        min-height: 100%;
        display: none;

        .loginPanel {
            width: 100%;
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .login-username {
                width: 90%;
                padding-top: 40px;
                padding-bottom: 20px;
            }
            .login-password {
                width: 90%;
            }

            input {
                width: 100%;
                height: 24px;
                font-size: 14px;
                border-bottom: 1px solid #e6e9f0;
                color: black;
            }

            .controlPanel {
                width: 90%;
                    margin-top: 40px;

                div {
                    width: 100%;
                    border-radius: 999px;
                    background-color: rgb(156,39,176);
                    height: 40px;
                    margin: 20px 0;
                    text-align: center;
                    line-height: 40px;
                    color: white;
                    font-size: 16px;
                }
            }
        }
        .signupPanel {
            display: none;
        }
        .userPanel {
            display: none;
        }
    }

    .user-main.show {
        display: flex;

        .loginPanel.show {
            display: flex;
        }
        .signupPanel.show {
            display: flex;
        }
        .userPanel.show {
            display: flex;
        }
    }

    .search-main {
        display: none;
    }

    .search-main.show {
        display: flex;
    }
}

footer {
    height: 55px;
    .musicplayer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        height: 55px;

        .songInformation {
            height: 45px;
            width: 80%;
            display: flex;
            align-items: center;

            .cover {
                height: 40px;
                width: 40px;
                background-color: #ddd;
                margin-right: 10px;
            }

            .songInformation-text {
                .artist {
                    color: rgb(128, 128, 128);
                    font-size: 12px;
                }

                div {
                    vertical-align: middle;
                }
            }
        }

        .songController {
            display: flex;
            align-items: center;
            min-width: 80px;
            height: 45px;
            justify-content: space-between;
            color: rgb(76, 76, 76);
            margin-right: 5px;

            .toggleButton {
                width: 30px;
                font-size: 30px;

                div {
                    display: none;
                }

                div.show {
                    display: flex;
                }
            }

            .toplaylistButton {
                height: 30px;
                width: 30px;
                font-size: 30px;
                display: flex;
            }
        }
    }

    .toplaylistWrapper {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        flex-direction: column;

        .shadowArea {
            flex: 1;
            background-color: rgba(0,0,0,0.6);
        }

        .toplaylist {
            padding: 0 10px;
            max-height: 66%;
            min-height: 100px;
            background-color: white;
            border-top: 4px solid rgb(128,128,128);
            overflow: auto;

            li {
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #e6e9f0;
                font-size: 16px;

                .playingHint {
                    display: none;
                }

                .split, .toplay-artist{
                    font-size: 12px;
                    color: rgb(128, 128, 128);
                }

                .toplay-deleteButton {
                    font-size: 14px;
                }
            }

            li.playing {
                .playingHint {
                    display: inline;
                }

                .playingHint, .toplay-songName, .split, .toplay-artist {
                    color: rgb(156,39,176);
                }
            }
        }
    }

    .toplaylistWrapper.show {
        display: flex;
    }
}

